{% sw_extends '@FoodspringTheme/storefront/component/slider.html.twig' %}

{% block component_slider %}
    <div class="cms-element-products-slider">
        {{ parent() }}
    </div>
{% endblock %}

{% block component_slider_slides %}
    {% set slidesData = item.getProducts() %}
    {% for slide in slidesData %}
        <div class="swiper-slide">
            {% sw_include "@Storefront/storefront/component/product/card/box.html.twig" with {
                product: slide,
                variants,
                layout: 'standard-no-badge',
                buyButtonText: "product.addToCartCrossSell"|trans|sw_sanitize,
                buyButtonIcon: 'icon-left-plus',
                buyButtonType: 'primary',
                showDescription: false,
                isSlider: true
            } %}
        </div>
    {% endfor %}
{% endblock %}

{% block component_slider_breakpoints %}
    {{ theme_config('breakpoint.lg') }}: {
    slidesPerView: 4,
    slidesPerGroup: 4,
    spaceBetween: 0,
    loop: false,
    },
    {{ theme_config('breakpoint.md') }}: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 0,
    loop: false,
    },
    {{ theme_config('breakpoint.sm') }}: {
    slidesPerView: 2,
    slidesPerGroup: 2,
    spaceBetween: 0,
    loop: false,
    },
    {{ theme_config('breakpoint.xs') }}: {
    slidesPerView: 1,
    slidesPerGroup: 1,
    spaceBetween: 0,
    loop: true,
    },
{% endblock %}

{% block component_slider_other_properties %}
    focusableElements: 'select',
    slideToClickedSlide: false,
    touchMoveStopPropagation: true,
    preventInteractionOnTransition: true,
{% endblock %}

{% block component_slider_placeholder %}
    <div class="placeholder-item" style="width: 100%; height: 450px; margin-right: 8px;"></div>
    <div class="placeholder-item d-none d-sm-block" style="width: 100%; height: 450px; margin-right: 8px;"></div>
    <div class="placeholder-item d-none d-md-block" style="width: 100%; height: 450px; margin-right: 8px;"></div>
    <div class="placeholder-item d-none d-lg-block" style="width: 100%; height: 450px;"></div>
{% endblock %}

{% block component_slider_pagination %}
    {# removed #}
{% endblock %}

{% block component_slider_pagination_bullets %}
    {# removed #}
{% endblock %}
